<i id="nav-icon" class="fa fa-bars fa-3x"></i>
<nav class="overlay">
  <ul>
    <li>About.</li>
    <li>Work.</li>
    <li>R&eacute;sum&eacute;.</li>
    <li>Home.</li>
    <li>Contact.</li>
  </ul>
</nav>
<header>
  <h1>NATHAN<br>BROWN</h1>
  <h2>Junior Full-Stack Developer</h2>
</header>
