<header>
  <h1>NATHAN<br>BROWN</h1>
  <h2>Junior Full-Stack Developer</h2>
  <div class="wip-alert">
    <p>Work-In-Progress: <a href="http://nkabrown.github.io" target="_blank">I&rsquo;m experimenting with D3.js.</a></p>
    <p>Read about it <a href="http://github.com/nkabrown/its-a-boy/wiki/Project-Roadmap" target="_blank">here</a>.</p>
  </div>
</header>
