<div class="container">
<section class="intro">
  <h1>PROJECTS</h1>
</section>
<article class="project" id="project-one">
  <div class="text">
    <div class="content">
      <p class="title">OnBoard</p>
      <h1>INCREASE STUDENT INTERACTION AND ENHANCE OVERSIGHT</h1>
      <p>OnBoard was built to enhance student experience prior to beginning the Web Devlopment Intensive 12-week bootcamp at <a href="http://nycda.com" target="_blank">New York Code &#43; Design Academy</a>. Students can utilize the app during their prework to connect with classmates and chart their progress. NYCDA administrators can communicate to the class and encourage them to meet their prework responsibilities.</p>
      <p>Now being used by <a href="http://nycda.com" target="_blank">NYCDA</a> in their <a href="http://nycda.com/classes/web-development-intensive/" target="_blank">Web Development Intensive</a> program beginning with the Jan. 2015 cohort.</p>
      <h2>Technologies</h2>
      <ul>
        <li>Ruby on Rails Framework</li>
        <li>JavaScript</li>
        <li>CSS Animations</li>
      </ul>
      <h2>Project Timeline</h2>
      <p class="timeline">1 week</p>
      <hr>
      <div class="project-links">
        <p><a href="http://github.com/aphuong/On-Board" target="_blank">Github Repo</a></p>
        <p><a href="http://onboard-app.herokuapp.com" target="_blank">ONBOARD</a></p>
      </div>
    </div>
  </div>
  <div class="media">
    <figure>
      <div class="frame">
        <%= image_tag("onboard_landing.png") %>
        <figcaption>OnBoard App &ndash; Landing Page</figcaption>
      </div>
      <div class="frame frame-two">
        <%= image_tag("onboard_dashboard.png") %>
        <figcaption>Student Dashboard</figcaption>
      </div>
    </figure>
  </div>
</article>
<article class="project" id="project-two">
  <div class="text">
    <div class="content">
      <p class="title">Habitual</p>
      <h1>START A SMALL HABIT TO MAKE A LASTING CHANGE</h1>
      <p>Wouldn&rsquo;t you love to be predisposed to act in ways that furthered goals that are important to you? Habitual is an app that uses Stanford professor BJ Fogg&rsquo;s behavior-change methodology he calls <a href="http://tinyhabits.com" target="_blank">Tiny Habits</a>. This application helps users to set goals, commit to small steps toward those goals, and link those steps to their already established daily routines.</p>
      <h2>Technologies</h2>
      <ul>
        <li>Ruby on Rails Framework</li>
        <li>JavaScript</li>
        <li>Responsive Web Design</li>
      </ul>
      <h2>Project Timeline</h2>
      <p class="timeline">2 weeks</p>
      <hr>
      <div class="project-links">
        <p><a href="http://github.com/nkabrown/habitual" target="_blank">Github Repo</a></p>
        <p><a href="http://habitual-app.herokuapp.com" target="_blank">HABITUAL</a></p>
      </div>
    </div>
  </div>
  <div class="media">
    <figure>
      <div class="frame">
        <%= image_tag("habitual_landing.png") %>
        <figcaption>Habitual App &ndash; Landing Page</figcaption>
      </div>
      <div class="frame frame-two">
        <%= image_tag("habitual_interface.png") %>
        <figcaption>User Dashboard</figcaption>
      </div>
    </figure>
  </div>
</article>
<footer>
</footer>
</div>
