<div class="col-6 left">
  <h2>HABITUAL</h2>
  <p>start a small habit to make a lasting change</p>
  <ul>
    <li></li>
  </ul>
</div>
<div class="col-6 right">
  <%= image_tag("habitual_landing.png", size: "450x250") %>
</div>
