.about-wrapper {
  width: 100%;
  margin: 0 auto;
}

.about-wrapper h2 {
  width: 60%;
  font-family: "Karla", serif;
  font-size: 1.5em;
  margin: 8.3em auto 0 auto;
  text-align: center;
}

.social {
  text-align: center;
  margin: 0 30px;
 
  a {
    color: #000;
    text-decoration: none;
  }
}

.social-icon {
  display: inline-block;
  margin: 4em  2em;
}

.accomplishments {
  width: 50%;
  margin: 0 auto;
}

.badge-container {
  width: 100%;
  margin: 0 auto;
}

.badges {
  display: inline-block;
  width: 30%;
  float: left;
  margin: 0 3.4em;

  a {
    text-decoration: none;
  }
}

.badge-description {
  font-family: "Karla", serif;
  font-size: 0.8em;
  text-align: center;
}

@media only screen and (max-width : 1100px) {
  .about-wrapper h2 {
    width: 100%;
  }

  .social-icon {
    display: inline-block;
    margin: 50px 20px;
  }

  .badge-container {
    width: 100%;
    margin: 0 auto;
  }

  .badges {
    width: 100%;
    display: block;
    margin: 1em auto;
    text-align: center;
  }
}
