h2 {
  font-family: "Karla", sans-serif;
  font-size: 1.5em;
  margin-top: 200px;
  text-align: center;
  vertical-align: middle;
}

.social {
  text-align: center;
  margin: 0 30px;
 
  a {
    color: #000;
    text-decoration: none;
  }
}

.social-icon {
  display: inline-block;
  margin: 50px 20px;
}
