.about-wrapper h2 {
  font-family: "Karla", serif;
  font-size: 1.5em;
  margin-top: 200px;
  text-align: center;
  vertical-align: middle;
}

.social {
  text-align: center;
  margin: 0 30px;
 
  a {
    color: #000;
    text-decoration: none;
  }
}

.social-icon {
  display: inline-block;
  margin: 50px 20px;
}

.accomplishments {
  width: 50%;
  margin: 0 auto;
}

.badges {
  width: 100%;
  display: inline-block;
  float: left;
}

#earlybird svg {
  width: 33%;
}


#onboard svg {
  width: 33%;
}

svg {
  width: 150px;
  height: 150px;
}

@media only screen and (max-width : 1015px) {
  .badges {
    width: 100%;
    margin: 0 auto;
  }

  #earlybird svg,
  #onboard svg {
    width: 100%;
    display: block;
    margin-top: 15px;
  }
}
