@font-face {
  font-family: 'bornregular';
  src: asset-url('born-webfont.eot');
  src: asset-url('born-webfont.eot#iefix') format('embedded-opentype'),
       asset-url('born-webfont.woff2') format('woff2'),
       asset-url('born-webfont.woff') format('woff'),
       asset-url('born-webfont.ttf') format('truetype'),
       asset-url('born-webfont.svg#bornregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'karlaregular';
  src: asset-url('karla-regular-webfont.eot');
  src: asset-url('karla-regular-webfont.eot?#iefix')
  format('embedded-opentype'),
       asset-url('karla-regular-webfont.woff2') format('woff2'),
       asset-url('karla-regular-webfont.woff') format('woff'),
       asset-url('karla-regular-webfont.ttf') format('truetype'),
       asset-url('karla-regular-webfont.svg#karlaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
