body {
  margin: 0;
  background-color: #EDEDED;
  -webkit-font-smoothing: antialiased;
}

header {
  text-align: center;
  height: 100vh;
  padding: 60px 0 100px 0;
}

header h1 {
  font-family: "Born", "Helvetica", serif;
  font-size: 7em;
  color: #333;
  margin-bottom: 10px;
}

header h2 {
  font-family: "Karla", sans-serif;
  font-size: 1.5em;
  color: #333;
}

