.work-wrapper { 
  width: 100%;
  margin: 0 auto;
  font-size: 1em;
  text-align: center;
  margin-top: 200px;
}

.col-6 {
  font-family: "Karla", sans-serif;
  width: 33%;
}

.col-6 left {
  float: left;
  width: 45%;
  margin-top: 200px;
}

.col-6 right {
  float: right;
  width: 45%;
}
