body {
  background-color: #FFF;
}

.container {
  margin: 0 auto;
}

.intro {
  background-color: #FFF;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: "bornregular", "Born", serif;

  h1 {
    padding: 2em;
  }
}

.project {
  height: 800px;
}


.project:nth-child(odd) .text {
  float: right;
  width: 50%;
}

.project:nth-child(odd) .media {
  float: left;
  width: 50%;
}

.project:nth-child(even) .text {
  float: left;
  width: 50%;
}

.project:nth-child(even) .media {
  float: right;
  width: 50%;
}

.project .text {
  background: #FFF;
  height: 100%;

  .content {
    padding: 0 4em 4em 4em;
  }

  .title {
    text-decoration: underline;
    font-family: "karlaregular", "Karla", sans-serif;
    font-size: 0.8em;
    font-weight: 600;
  }

  h1 {
    font-family: "bornregular", "Born", serif;
    font-size: 2em;
    text-align: center;
  }

  h2 {
    font-family: "karlaregular", "Karla", sans-serif;
    font-size: 1.2em;
  }

  p { 
    font-family: "karlaregular", "Karla", sans-serif;
    font-size: 0.8em;
    margin-bottom: 17px;
  }

  a {
    text-decoration: none;
    color: rgba(95, 165, 238, 0.9);
  }
  
  li {
    list-style: none;
    font-family: "karlaregular", "Karla", sans-serif;
  }

  .timeline {
    margin-left: 40px;
    margin-bottom: 0.7em;

  }

  .project-links {
    margin: 40px 0;
  }
}

.project .media {
  background-color: #231C22;
  color: #FFF;
  height: 100%;

  figure {
    padding: 2em;

    img {
      width: 100%;
      height: 50%;
    }
  }

  figcaption {
    text-align: center;
    font-family: "karlaregular", "Karla", sans-serif;
    padding-bottom: 28.5px;
    font-size: 1em;
  }
}

@media all and (max-width: 900px) {
  .project:nth-child(odd) .text,
  .project:nth-child(odd) .media,
  .project:nth-child(even) .text,
  .project:nth-child(even) .media {
    width: auto;
    clear: both;
  }

}

@media all and (max-width: 900px) and (min-width: 650px) {
  .frame-two {
    display: none;
  }
}
