<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <i id="nav-icon" class="fa fa-bars fa-3x"></i>
  <nav class="overlay">
    <ul>
      <li>About.</li>
      <li>Work.</li>
      <li>R&eacute;sum&eacute;.</li>
      <li>Home.</li>
      <li>Contact.</li>
    </ul>
  </nav>
<%= yield %>

</body>
</html>
